
#fullscreen {
	height : 100%;
	width:100%;
	background:lightsteelblue;
}

#header {
	height : 10%;
	width:100%;
	background:#4D97B9;
	text-align: center;
	}
.centerDisplay{
	text-align: center;
	color:black;
	float:right;
	justify-content: center;
	
}
#body {
	height : 80%;
	width:100%;
	background:#A8DDF5;
}
input {
	background:pink;
}
#filter {
	height : 100%;
	width:10%;
	background:#08BAF3;
	float:left;
	font-size:15;
	color:red;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#display {
	height : 100%;
	width:90%;
	background:lightskyblue;
	float:left;
	
}
#leftDisplay {
	height : 100%;
	width:50%;
	float:left;
}
#rightDisplay {
	height : 100%;
	width:50%;
	float:left;
}
#prod {
	float:left;
	background:white;
	margin:6px;
	padding:7px;
	border-radius: 6px;
}
#prod:hover {
	border-style:solid ;
	transform:rotate(-90deg);
	transition-duration: 15s;
}
#prod1 {
	float:left;
	background:white;
	margin:6px;
	padding:7px;
	border-radius: 6px;
}
#prod1:hover {
	border-style:solid ;
	transform:rotate(90deg);
	transition-duration: 15s;
}	
#footer {
	height : 10%;
	width:100%;
	background:#3B13CD;
	text-align: right;
	color:ghostwhite;
}
